label.checkbox.checkbox__style_switch, label.checkbox.checkbox__style_switch-disabled {
    display: inline-block;
    margin: 4px 5px;
    padding: 0;
    height: 36px;
    line-height: 36px;
    vertical-align: middle;
    font-size: 18px;
    color: #444444;
    cursor: pointer;
}

label.checkbox.checkbox__style_switch-disabled {
    color: #a3a3a3;
    cursor: none;
    pointer-events: none;
}

label.checkbox.checkbox__style_switch-disabled > span {
    pointer-events: none;
    vertical-align: middle;
}

.checkbox__track__style_switch, .checkbox__track__style_switch-disabled {
    background-color: rgba(0,0,0,0.26);
    display: inline-block;
    height: 14px;
    width: 36px;
    border-radius: 14px;
    cursor: pointer;
    margin-left: 8px;
}

.checkbox__thumb__style_switch, .checkbox__thumb__style_switch-disabled {
    background-color: #fafafa;
    position: relative;
    left: 0px;
    top: -3px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    transition-duration: .28s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-property: left;
}

.checkbox__thumb__style_switch-disabled {
    background-color: #ccc;
}

input:checked + .checkbox__track__style_switch {
    background-color: rgba(63,81,181,0.5);
}

input:checked + .checkbox__track__style_switch-disabled {
    background-color: #888;
}

input:checked + .checkbox__track__style_switch .checkbox__thumb__style_switch,
input:checked + .checkbox__track__style_switch-disabled .checkbox__thumb__style_switch-disabled {
    background-color: #3f51b5;
    left: 16px;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.2), 0 1px 8px 0 rgba(0,0,0,.12);
}

input:checked + .checkbox__track__style_switch-disabled .checkbox__thumb__style_switch-disabled {
    background-color: #ccc;
}

.checkbox__input__style_switch, .checkbox__input__style_switch-disabled {
    position: absolute;
    z-index: -1;
    opacity: 0;
    width: 0;
    height: 0;
}
