a.button {
    display: inline-block;
    margin: 4px 5px;
    padding: 0 16px;
    height: 36px;
    line-height: 36px;
    vertical-align: middle;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 2px solid transparent;
    color: white;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    transition: 0.3s;
}